
# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/




.env
.venv/
__pycache__/
*.pyc

chroma_db/
data/chat_history.json
memory.json











